<h1>借閱人清單</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @borrowers.each do |borrower| %>
  <tr>
    <td><%= borrower.name %></td>
    <% if current_user && current_user.is_admin %>
      <td><%= link_to '編輯', edit_borrower_path(borrower) %></td>
      <td><%= link_to '刪除', borrower, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新增借閱人', new_borrower_path %>
